body {
	background: linear-gradient(
		90deg,
		rgba(141, 63, 80, 1) 0%,
		rgba(57, 1, 46, 1) 100%
	);
	color: white;
	overflow: hidden;
}

h1 {
	text-align: center;
}

.todo-wrapper {
	padding: 2%;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	max-height: 80vh;
	overflow-y: auto;

	background: rgba(67, 56, 56, 0.3);
	border-radius: 20px;
	box-shadow: 20px 40px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.todo-input {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid rgb(77, 77, 77);
	padding-bottom: 25px;
	margin-bottom: 25px;
}

.todo-input-item {
	margin-right: 25px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.todo-input-item label {
	margin-bottom: 10px;
	font-weight: bold;
}

.todo-input-item input {
	color: white;
	background-color: #8d3f50;
	border: 10px solid black;
	padding: 8px;
	width: 250px;
}
::placeholder {
	color: white;
	opacity: 0.7;
}

.todo-input-item input:focus {
	outline: 2px solid #660c20;
}

.primary-btn {
	background-color: #660c20;
	color: white;
	border-radius: 0px;
	border: none;
	margin-top: 25px;
	padding: 10px;
	width: 60px;
	cursor: pointer;
}

.primary-btn:hover {
	background-color: #c72166;
}

.btn-area {
	margin-bottom: 10px;
}

.secondaryBtn {
	background-color: #282828;
	color: white;
	border-radius: 0px;
	border: none;
	padding: 10px;
	width: fit-content;
	cursor: pointer;
}

.btn-area .active {
	background-color: #660c20;
}

.todo-list {
	display: flex;
	flex-direction: column;
}

.todo-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #8c3e4f;
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	box-shadow: 0px 2px 4px rgb(39, 38, 38);
}

.todo-list-item h3 {
	font-size: 25px;
	color: #660c20;
	font-weight: bold;
	margin: 0px;
}

.todo-list-item p {
	margin-top: 8px;
	font-size: 14px;
	color: rgb(179, 178, 178);
}

.icon {
	font-size: 35px;
	cursor: pointer;
}

.icon:hover {
	color: red;
}

.check-icon {
	font-size: 22px;
	cursor: pointer;
	color: #660c20;
	margin-left: 10px;
}

.check-icon:hover {
	color: #c72166;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5); /* semi-transparent black overlay */
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 400px;
	height: 200px;
	padding: 20px;
	background: rgba(67, 56, 56, 0.03);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(17px);
	-webkit-backdrop-filter: blur(17px);
}

.modal-header {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 15px;
}

.modal-header h5 {
	margin: 0;
	color: #fff;
	font-size: 30px;
}

.modal-body {
	margin-bottom: 20px;
}
.modal-body label {
	width: 1000px !important;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}
.modal-body input {
	background-color: #ff5e6d;
	height: 25px;
	border-radius: 10px;
	border: 2px solid #660c20;
	text-indent: 10px;
	margin-left: 15px;
}

.modal-footer {
	display: flex;
	justify-content: flex-end;
}

.modal-footer button {
	width: 90px;
	margin-left: 10px;
	border-radius: 20px;
}
